
:root{
    --darker_grey: #212529;
    --normal_grey: #6c757d;
    --light_grey: #adb5bd;
    --text_blue: #0d6efd;
}

.body-bground{
    background-color: var(--normal_grey);
}

.brand{
    padding-left: 1rem;
    padding-right: 10rem;
}

.center-right{

    float: right;
}
.nav-item {
    margin-left: 4rem;
}

.file-name {
    color: var(--text_blue);
    border-bottom: 3px solid  var(--text_blue);
}

li.layout-dummy {
    color: transparent;
}

ul {
    padding: 0 !important;
}
.ul-name {
    padding-top: 4rem !important;
    padding-bottom: 2rem !important;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.upload {
    margin: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    background-color: var(--light_grey);
}
.upload-label{
    font-size: 1.5rem !important;
}

.btn {
    font-size: 1.4rem;
    line-height: 1.5;
}

.upload_btn{
    font-size: 1.5rem !important;
}

.input_format {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.url_labels {
    width: 100%;
    
}

.manage_url {
    width: 90%;
    
}
.btn_container {
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
}