<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download page</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>

<body>
    <div class="parent">
        <h1>Download file screen</h1>
        <div>
            <h3 class="inline-block-text inline-block-child">File name:</h3> 
            <input class="inline-block-textfield inline-block-child" type="text" name="filename">
            <button class="intline-block-button inline-block-child" name="download">Download</button>
        <div>
    </div>
</body>
</html>