<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <div class="parent">
        <form enctype="multipart/form-data" id="uploadForm"></form>
        <h1>File sharing site</h1>
        <div>
            <h3 class="inline-block-text inline-block-child">Choose file to upload:</h3> 
            <input class="file-button inline-block-child" type="file" id="fileInput" name="inputFile" value="no file selected">
        </div>    
        <button class="upload-button" name="upload_button" id="upload">Upload</button>
        <div>
            <h3 class="inline-block-text inline-block-child">URL to download this file:</h3>
            <input class="inline-block-textfield inline-block-child" type="text" class="form-control" name="download-url" id="downloadL">
        </div>
        <div>
            <h3 class="inline-block-text inline-block-child">URL to maintain this file:</h3>
            <input class="inline-block-textfield inline-block-child" type="text" class="form-control" name="manage-url" id="manageL">
        </div>
    </div>
    <script src="../static/main_screen.js"></script>
</body>

</html>

